 h1 {
  text-align: center;
  font-family: Chalkduster, fantasy;
  font-stretch: expanded;
  font-weight: 550;
  font-size: 120px;
}
h2 {
  text-align: center;
  font-family: Courier New, monospace;
}
p {
  text-align: center;
  font-family: Courier New, monospace;
}
body {
  background-color : rgb(58, 120, 153);
  background-size: cover;
  margin-left : 150px;
  margin-right : 150px;
}
.banner { 
  /* The image used */
  background-image: url("bannerAgain.jpg");

  /* Full height */
  height: 40% ; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* vertical centering */
}
}
body, html {
  height: 100%;
  width: 100%
}
