 h1 {
  text-align: center;
  font-family: Chalkduster, fantasy;
  font-stretch: expanded;
  font-weight: 550;
  font-size: 100px;
  background-image: url("banner2old.png"); 
}
h2 {
  text-align: center;
  font-family: Courier New, monospace;
}
p {
  text-align: center;
  font-family: Courier New, monospace;
}
body {
  background-image: url("bg2.jpg");
  background-size: cover;
  margin-left : 150px;
  margin-right : 150px;
}
