 h1 {
  text-align: center;
  font-family: Chalkduster, fantasy;
  font-stretch: expanded;
  font-weight: 550;
  font-size: 100px;
}
h2 {
  text-align: center;
  font-family: Courier New, monospace;
}
p {
  text-align: center;
  font-family: Courier New, monospace;
}
body {
  background-image: url("bg2.jpg");
  background-size: cover;
  margin-left : 150px;
  margin-right : 150px;
}
.banner { 
  /* The image used */
  background-image: url("banner2old.jpg");

  /* Full height */
  height: 30% ; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  height: 100%;
}
